@using BW.Website.Common.Helpers
@using BW.Website.Common.Constants
@{
    var currentUser = AuthorizationHelper.CurrentUser;
    if (AuthorizationHelper.IsLogged && currentUser != null)
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @AuthorizationHelper.Email
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="" data-toggle="modal" data-target="#userProfile" id="btnViewProfile">View Profile</a>
                        @*@Html.ActionLink("View Profile", "Details", new { userId = @AuthorizationHelper.UserId })*@
                    </li>
                    <li>
                        @Html.ActionLink("Edit Profile", "Edit", new { userId = @AuthorizationHelper.UserId })
                    </li>
                    <li class="divider"></li>
                    <li>
                        @Html.ActionLink("Log Out", ConstActionMethods.LOGOUT, ConstActionMethods.CTL_HOME, new { area = "" })
                    </li>
                </ul>
            </li>
            <li></li>
        </ul>
        @*string userId = AuthorizationHelper.UserId.ToString();
        var result = UserHelper.GetUserById(userId).Data;
        @Html.Partial("_UserProfilePartialView", result);*@
    <div class="modal fade" id="userProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    }
}

<script>
    $('#btnViewProfile').click(function () {
        $.ajax({
            url: 'http://localhost:8790/User/ViewProfile/',
            dataType: 'html',
            success: function (data) {
                $("#userProfile").html(data);
            }
        });
    });
</script>

@*@using BW.Website.Common.Helpers
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + AuthorizationHelper.Email + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                <li>da</li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>
                @Html.ActionLink("Log Out", BW.Website.Common.Constants.ConstActionMethods.LOGOUT, BW.Website.Common.Constants.ConstActionMethods.CTL_HOME, new { area = "" }, new { @class = "navbar-brand" })
            </li>
        </ul>
    }*@

