@model IEnumerable<BW.Data.Contract.DTOs.RoleInPermissonView>
@using BW.Website.Common.Helpers;
@using BW.Common.Consts;

@{
    var isViewRoleInPermission = AuthorizationHelper.HasPermissionFor(PermissionCodes.ViewRoleInPermission);
    var isEditRoleInPermission = AuthorizationHelper.HasPermissionFor(PermissionCodes.EditRoleInPermission);
}
@if (isViewRoleInPermission)
{
    <p>
        @if (isEditRoleInPermission)
        {
            <input type="button" value="Save" id="btnSavePerm" />
        }
    </p>


    <table class="table" id="tbl_RoleInPermission">
        <thead>
            <tr>
                <th style="display: none">
                    @Html.Label("Role")
                </th>
                <th>
                    @Html.Label("Module")
                </th>
                <th>
                    @Html.Label("Add")
                </th>
                <th>
                    @Html.Label("Edit")
                </th>
                <th>
                    @Html.Label("Delete")
                </th>
                <th>
                    @Html.Label("View")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="row-data">
                <td class="lstRoles" style="display: none" id="@item.RoleId">
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td class="lstModule" id="@item.ModuleId">
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    <input class="lstPAdd" value="@item.PAdd.ToString()" type="checkbox" @(item.PAdd == true ? "checked='checked'" : "")
                           @(isEditRoleInPermission == true ? "" : "disabled") />
                </td>
                <td>
                    <input class="lstPEdit" value="@item.PEdit.ToString()" type="checkbox" @(item.PEdit == true ? "checked='checked'" : "")
                           @(isEditRoleInPermission == true ? "" : "disabled") />

                </td>
                <td>
                    <input class="lstPDel" value="@item.PDelete.ToString()" type="checkbox" @(item.PDelete == true ? "checked='checked'" : "")
                           @(isEditRoleInPermission == true ? "" : "disabled") />

                </td>
                <td>
                    <input class="lstPView" value="@item.PView.ToString()" type="checkbox" @(item.PView == true ? "checked='checked'" : "")
                           @(isEditRoleInPermission == true ? "" : "disabled") />

                </td>
            </tr>
        }
    </table>
}

<script>
    //$(':checkbox').change(function () {
    //    $(this).val($(this).prop('checked'))
    //});
    //var RoleId = $(".lstRoles").prop;

      $('#btnSavePerm').click(function () {
        var result = new Array();
        $('#tbl_RoleInPermission .row-data').each(function () {
            var itemData = {};
            itemData.roleId = $(this).find('.lstRoles').attr('id');
            itemData.moduleId = $(this).find('.lstModule').attr('id');
            itemData.pAdd = $(this).find('.lstPAdd').is(':checked');
            itemData.pEdit = $(this).find('.lstPEdit').is(':checked');
            itemData.pDelete = $(this).find('.lstPDel').is(':checked');
            itemData.pView = $(this).find('.lstPView').is(':checked');

            result.push(itemData);
        });

        $.ajax({
            url: 'http://localhost:8790/RoleInPermission/SaveChange',
            method: 'POST',
            //dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(result),
            success: function (data, asd, tyu) {
                alert("Save successful!");
                //window.location = "http://localhost:8790/RoleInPermission";
            }
        });
    });

</script>