@model IEnumerable<BW.Data.Contract.DTOs.RoleInPermissonView>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/style.css" rel="stylesheet" />

<h2>Index</h2>

<select class="ddlRoles">
    @foreach (var item in BW.Website.Common.Helpers.RoleHelper.GetAllRole().Data)
    {
        <option value="@item.RoleName" id="@item.RoleName">@item.RoleName</option>
    }
</select>
<br />

<table class="table" id="tbl_RoleInPermission">
    <thead>
        <tr>
            <th ng-hide="true">
                @Html.Label("Role")
            </th>
            <th>
                @Html.Label("Module")
            </th>
            <th>
                @Html.Label("Add")
            </th>
            <th>
                @Html.Label("Edit")
            </th>
            <th>
                @Html.Label("Delete")
            </th>
            <th>
                @Html.Label("View")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr style="display: none">
            <td ng-hide="true" class="lstRoles">
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PView)
            </td>
            <td>
                @Html.ActionLink("Save", "Save", new { roleInPermId = item.RoleInPermissionId })
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(".ddlRoles").change(function () {
        var roleName = $(this).val();
        $("td.lstRoles ").each(function (index) {
            if ($(this).html().trim() == roleName) {
                $(this).closest('tr').css("display", "");
            } else
                $(this).closest('tr').css("display", "none");

        });
    });
    $('.ddlRoles').change();
</script>
