@model IEnumerable<BW.Data.Contract.DTOs.RoleInPermissonView>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<select class="ddlRoles">
    @foreach (var item in BW.Website.Common.Helpers.RoleHelper.GetAllRole().Data)
    {
        <option value="@item.RoleName" id="@item.RoleName">@item.RoleName</option>
    }
</select>
<br />

<table class="table" id="tbl_RoleInPermission">
    <thead>
        <tr>
            <th style="display: none">
                @Html.Label("Role")
            </th>
            <th>
                @Html.Label("Module")
            </th>
            <th>
                @Html.Label("Add")
            </th>
            <th>
                @Html.Label("Edit")
            </th>
            <th>
                @Html.Label("Delete")
            </th>
            <th>
                @Html.Label("View")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr style="display: none">
            <td style="display: none" class="lstRoles">
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @*@Html.CheckBoxFor(modelItem => item.PAdd)*@
                <input name="permission" type="checkbox" value="@item.PAdd.ToString()" @(item.PAdd == true ? "checked='checked'" : "") />
            </td>
            <td>
                @*@Html.CheckBoxFor(modelItem => item.PEdit)*@
                <input name="permission" type="checkbox" value="@item.PAdd.ToString()" @(item.PEdit == true ? "checked='checked'" : "") />
            </td>
            <td>
                @*@Html.CheckBoxFor(modelItem => item.PDelete)*@
                <input name="permission" type="checkbox" value="@item.PAdd.ToString()" @(item.PDelete == true ? "checked='checked'" : "") />
            </td>
            <td>
                @*@Html.CheckBoxFor(modelItem => item.PView)*@
                <input name="permission" type="checkbox" value="@item.PAdd.ToString()" @(item.PView == true ? "checked='checked'" : "") />
            </td>
            <td>
                @Html.ActionLink("Save", "Save", new
                    {
                        roleInPermIdEnc = item.RoleInPermissionId,
                        roleInPermAddEnc = item.PAdd,
                        roleInPermEditEnc = item.PEdit,
                        roleInPermDelEnc = item.PDelete,
                        roleInPermViewEnc = item.PView
                    }, new { @class="btnSaveRolePerm"})
            </td>
        </tr>
    }
</table>
@*@Scripts.Render("~/bundles/jquery")*@
<script>
    $(".ddlRoles").change(function () {
        var roleName = $(this).val();
        $("td.lstRoles ").each(function (index) {
            if ($(this).html().trim() == roleName) {
                $(this).closest('tr').css("display", "");
            } else
                $(this).closest('tr').css("display", "none");

        });
    });
    $('.ddlRoles').change();

    $(':checkbox').change(function () {
        $(this).val($(this).prop('checked'))
    });

    //$(document).ready(function () {
    //    $(".btnSaveRolePerm").click(function () {
    //        var perm = [];
    //        $.each($("input[name='permission']:checked"), function () {
    //            perm.push($(this).val());
    //        });
    //        alert("My favourite sports are: " + perm.join(", "));
    //    });
    //});
</script>
