@model IEnumerable<BW.Data.Contract.DTOs.RoleView>
@using BW.Website.Common.Helpers;
@using BW.Common.Consts;
@using BW.Website.Common.Utilities;

@{
    ViewBag.Title = "Index";
    ViewBag.System = "RoleManagement";    
    var isViewManageRole = AuthorizationHelper.HasPermissionFor(PermissionCodes.ViewManageRole);
    var isAddManageRole = AuthorizationHelper.HasPermissionFor(PermissionCodes.AddManageRole);
    var isEditManageRole = AuthorizationHelper.HasPermissionFor(PermissionCodes.EditManageRole);
    var isDeleteManageRole = AuthorizationHelper.HasPermissionFor(PermissionCodes.DeleteManageRole);
}
@if (isViewManageRole)
{
    <h2>Role Management</h2>

    <p>
        @if (isAddManageRole)
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Role Name")
            </th>
            <th>
                @Html.Label("Role Description")
            </th>
            <th>
                @Html.Label("Is Active")
            </th>
            <th>
                @Html.Label("Created Date")
            </th>
            <th>
                @Html.Label("Module Name")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @if (isEditManageRole)
                    {
                        @Html.ActionLink("Edit", "Edit", new { roleId = ApiServiceUtilities.Encrypt(item.RoleId.ToString()) })
                        <span>|</span>
                    }
                    @Html.ActionLink("Details", "Details", new { roleId = ApiServiceUtilities.Encrypt(item.RoleId.ToString()) })
                    @if (isDeleteManageRole)
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { roleId = ApiServiceUtilities.Encrypt(item.RoleId.ToString()) })
                    }
                </td>
            </tr>
        }

    </table>
}