@model IEnumerable<BW.Data.Contract.DTOs.UserView>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr> 
        <th>
            @Html.Label("Full Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.Label("Created Date")
        </th>
        <th>
            @Html.Label("Is Active")
        </th>
        <th>
            @Html.Label("Role Name")
        </th>
        <th>
            @Html.Label("Action")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userId = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { userId = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { userId = item.UserId }) |
            @Html.ActionLink("Change Password", "UpdatePassword", new { userId = item.UserId })
        </td>
    </tr>
}

</table>
