@*@model IEnumerable<BW.Data.Contract.DTOs.UserView>*@
@model PagedList.IPagedList<BW.Data.Contract.DTOs.UserView>
@using PagedList.Mvc;
@using BW.Website.Common.Helpers;
@using BW.Common.Consts;
@using BW.Website.Common.Utilities;
@{
    ViewBag.Title = "Index";
    ViewBag.System = "UserManagement";
    var isViewManageUser = AuthorizationHelper.HasPermissionFor(PermissionCodes.ViewManageUser);
    var isAddManageUser = AuthorizationHelper.HasPermissionFor(PermissionCodes.AddManageUser);
    var isEditManageUser = AuthorizationHelper.HasPermissionFor(PermissionCodes.EditManageUser);
    var isDeleteManageUser = AuthorizationHelper.HasPermissionFor(PermissionCodes.DeleteManageUser);
}
@if (isViewManageUser)
{
    <h2>User Management</h2>

    <p>
        @if (isAddManageUser)
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Full Name")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Created Date")
            </th>
            <th>
                @Html.Label("Is Active")
            </th>
            <th>
                @Html.Label("Role Name")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @if (isEditManageUser)
                    {
                        @Html.ActionLink("Edit", "Edit", new { userId = ApiServiceUtilities.Encrypt(item.UserId.ToString()) })
                        <span>|</span>
                        @*@Html.ActionLink("Change Password", "UpdatePassword", new { userId = item.UserId })*@
                    }
                    @Html.ActionLink("Details", "Details", new { userId = ApiServiceUtilities.Encrypt(item.UserId.ToString()) })
                    @if (isDeleteManageUser)
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { userId = ApiServiceUtilities.Encrypt(item.UserId.ToString()) })
                    }
                </td>
            </tr>
        }
    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}